
# Created by https://www.gitignore.io/api/node

### Node ###


# Dependency directories
/node_modules/


# devops file
/devops.txt

# Ignore workspace config file
/.idea/


# End of https://www.gitignore.io/api/node


