

/********************************
PAGE: SMALL DEVICE
*********************************/
@media screen and (min-width: 480px)
{
  
/*!*********************************/
/*TWO COLUMN LAYOUT*/
/**********************************!*/
  /*#primary*/
  /*{*/
    /*width: 50%;*/
    /*float: left;*/
  /*}*/
  /**/
  /*#secondary*/
  /*{*/
    /*width: 40%;*/
    /*float: right;*/
  /*}*/
  /**/

  /********************************
  PAGE: PORTFOLIO
  *********************************/
  #gallery
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #gallery li
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
    float: left;
  }

  #gallery li a p
  {
    margin: 0;
    padding: 0%;
    font-size: 0.75em;
    color: black;
  }

  #houseStats{

  }


}


/*********************************/
/*LAPTOP SCREEN
/**********************************/

@media screen and (min-width: 660px)
{
    
  /********************************
    HEADER
  *********************************/
  nav
  {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    width: 45%;
  }
  
  #logo
  {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1
  {
    font-size: 2.5em;
  }
  
  h2
  {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header
  {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }

  /********************************
  PAGE: RESULT
  *********************************/
  #gallery
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  #gallery li
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
    float: left;
  }


  #gallery li a p
  {
    margin: 0;
    padding: 0%;
    font-size: 1.75em;
    color: black;
  }

  #houseStats {
    display: inline-block;
  }

  #priceStats {
    display: inline-block;
  }




}






